<% provide(:select_link_living, "_select") %>
<% provide(:select_link_movies, "") %>
<% provide(:select_link_musics, "") %>

<script type="text/javascript">
  drawMap("<%= @profile.livingplace %>");
</script>
<div class="container-fluid" id="iamheader">
  <%= render 'layouts/header' %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3 col-sm-4">
      <%= render 'layouts/profile' %>
    </div>
    <div class="col-md-9 col-sm-8" id="iammap">
      <div class="container-fluid">
        <div class="row-fluid">
          <%= render 'layouts/header' %>
        </div>
        <div class="row-fluid">
          <div class="col-md-12" id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
