<div class="container">
  <div class="row home_main">
    <div class="text-center">
      <%= image_tag("me.png", :size => "250x250", :alt => "Who am i") %>
      <h1 class="home_title text-center">Who am i ?</h1>
      <%= link_to "教えて", iam_path, {:class => "home_link"} %>
    </div>
  </div>
</div>